<section class="m-4 justify-items-center">
    <!-- Title Input -->
    <div class="w-1/2 grid gap-4 place-items-center">
        <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <!-- Title Input -->
            <mat-form-field class="w-full">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" required>
            </mat-form-field>

            <!-- Content Input -->
            <mat-form-field class="w-full">
                <mat-label>Content</mat-label>
                <textarea matInput rows="12" formControlName="content" required></textarea>
            </mat-form-field>
            
             <!-- Post Button -->
            <button matButton="elevated" [disabled]="postForm.invalid">Post</button>
        </form>
    </div>
</section>
