<section class="m-4 justify-items-center">
    <!-- Title Input -->
    <div class="w-full grid gap-4 place-items-center">
        <form class="w-full" [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <div class="w-full">
                <!-- Title Input -->
                <mat-form-field class="w-full">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title" required>
                    @if (title?.invalid && (title?.dirty || title?.touched)) {
                        @if (title?.hasError('required')) {
                            <mat-error>A title is required.</mat-error>
                        }
                        @if (title?.hasError('maxlength')) {
                            <mat-error>The title is too many characters.</mat-error>
                        }
                        @if (title?.hasError('databaseError')) {
                            <mat-error>This title is already in use.</mat-error>
                        }
                    }
                </mat-form-field>
                
            </div>

            <div class="w-full grid grid-cols-2 space-x-5">
                <!-- Content Input -->
                <mat-form-field class="max-w-full">
                    <mat-label>Content</mat-label>
                    <textarea matInput class="h-full" rows="12" formControlName="content" placeholder="Write in Markdown..." required></textarea>
                    @if (content?.invalid && (content?.dirty || content?.touched)) {
                        @if (content?.hasError('required')) {
                            <mat-error>Some content is required.</mat-error>
                        }
                    }
                </mat-form-field>

                <div class="prose max-w-full h-full block float-right"> 
                    <markdown [data]="content?.value"></markdown>
                </div>
                
            </div>

             <!-- Post Button -->
            <div class="space-x-3">
                <button matButton="elevated" type="button" (click)="onCancel()">Cancel</button>
                <button matButton="elevated" class="bg-[#005cbb]! text-white! disabled:bg-gray-300! disabled:text-gray-500!" [disabled]="postForm.invalid" type="submit">Post</button>
            </div>
        </form>
    </div>
</section>