@if (error) {
<div>{{ error }}</div>
}

<div class="grid grid-cols-2 gap-5">
	@if (posts.length == 0) {
	<h1 class="justify-self-center">No Posts.</h1>
	} @else {
	<div class="m-2 place-items-center">
		@for (post of posts; track post.post_id; let id = $index) {
		<mat-card
			id="post-{{ post.post_id }}"
			class="m-2! p-1! w-full border! hover:shadow-sm! cursor-pointer!"
			[ngClass]="{ 'bg-gray-300!' : post.post_id === selectedPost()?.post_id }"
			appearance="outlined"
			(click)="onClick(post)"
		>
			<mat-card-header>
				<mat-card-title class="font-semibold!"
					>{{ post.title }}</mat-card-title
				>
				<mat-card-subtitle
					>{{ post.created_at | date }}</mat-card-subtitle
				>
			</mat-card-header>
			<mat-card-content>
				<p>{{ post.content | ellipse : 150 }}</p>
			</mat-card-content>
			<mat-card-actions>
				<button matButton>EDIT</button>
				<button matButton>DELETE</button>
			</mat-card-actions>
		</mat-card>
		}
	</div>
	} @if (selectedPost() != null) {
	<div class="prose">
		<markdown [data]="selectedPost()?.content"></markdown>
	</div>
	} @else {
	<p class="flex justify-center items-center">Select a blog</p>
	}
</div>
